body {
    color: #888;
    background: #262626;
    margin: 0;
    padding: 40px;
    text-align: center;
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  #canvas {
    width: 600px;
    height: 700px;
    position: absolute;
    top: 800px;
    left: -100%;
    text-align: center;
  }